body {
background-color: #CCCCCC;
margin: 0px;
}

nav {
background-color: #999999;
}

header {
background-color: #AAAAAA;
}



section {
background-color: #BBBBBB;
}

table{
border-collapse : collapse;
}

td{
border: 3px solid black;
width: 100px;
height: 100px;
}
th{
border: 3px solid black;
}

.img_emotion{
width: 100px;
height: 100px;
max-width : 100px;
max-height : 100px;
}


